main {
  background: hsl(var(--background));
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* grid-template-rows: 1fr min-content; */
  justify-content: center;
  gap: 10px;
  width: 100vw;
  margin-top: 10px;
}

@media only screen and (min-width: 640px) {
  main {
    /* grid-template-columns: auto max-content; */
    grid-template-columns: repeat(3, 1fr);
  }
}
/* @media only screen and (min-width: 1000px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }
} */
