.locked {
  position: fixed !important;
  animation-name: fadeInUp;
  animation-duration: 1s;
  box-shadow: 2px 2px 20px 3px var(--foreground);
}

@keyframes fadeInUp {
  from {
    top: -50px;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

nav {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  padding: 0 5px 0 5px;
  background: hsl(var(--popover));
  z-index: 20;
  height: 50px;
  width: 100%;
  box-sizing: border-box;
}

.icon {
  color: hsl(var(--popover-foreground));
  cursor: pointer;
  transition: ease-in-out color 200ms;
}

.icon:hover {
  /* --test: 0, 100%, 50%; */
  color: hsl(var(--primary));
  /* color: hsl(0, 100%, 50%, 0.5); */
}

#github-icon {
  align-self: end;
  justify-self: right;
  align-self: center;
  margin-left: auto;
  aspect-ratio: 1/1;
  padding-top: 1px;
  outline-color: rgba(0, 0, 0, 0);
}

#menu-icon {
  align-self: center;

  opacity: 0;
  width: 0px;
  transition: ease all 500ms;
}

@media only screen and (max-width: 640px) {
  #menu-icon {
    width: unset;
    opacity: 1;
  }
}
