#navReplacer {
  height: 0px;
}

#banner {
  position: relative;
  filter: contrast(90%);
  /* height: 1000px; */
  height: max(100svh, min-content);
  overflow-x: hidden;
}

#banner-text-container {
  z-index: 3;
  position: absolute;
  top: 15%;
  padding: 0 2vw;
  letter-spacing: -0.1px;
  transform: scale(1.05, 0.95);
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin-left: 10px;
  --font-size: 1.5em;
}

#banner-text-container > h1 {
  font-family: var(--title-font-family);
  font-size: var(--font-size);
  color: hsl(var(--primary));
  /* filter: hue-rotate(50deg); */
  margin: 0;
}

#banner-text-container > p {
  font-family: var(--subtitle-font-family);
  color: rgba(255, 255, 255, 0.7);
  /* hsl(var(--primary-foreground)); */
  text-decoration: underline;
  text-decoration-color: hsl(var(--primary));
  margin: 0;
  margin-left: 20px;
  font-size: calc(var(--font-size) / 4);
}

#banner-image {
  object-fit: cover;
  overflow-y: auto;
  overflow-x: hidden;
  object-position: center;
  /* width: 100%; */
  min-width: 100%;
  aspect-ratio: 3 / 2;
  /* height: 100%; */
  /* height: auto; */
}

.zoomist-image {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 350px) {
  #banner-text-container {
    --font-size: 2em;
  }
}
@media only screen and (min-width: 400px) {
  #banner-text-container {
    --font-size: 3em;
  }
}
@media only screen and (min-width: 640px) {
  #banner-text-container {
    --font-size: 3.5em;
  }
}
@media only screen and (min-width: 1000px) {
  #banner-text-container {
    --font-size: 4em;
  }
}
@media only screen and (min-width: 1300px) {
  #banner-text-container {
    --font-size: 5em;
  }
}
