.imgInfo {
  display: flex;
  flex-direction: row;
}

.imgInfo > p {
  font-family: var(--paragraph-font-family);
  color: hsl(var(--foreground));
  font-size: var(--font-size-small);
}
.imgInfo > img {
  width: 40%;
  aspect-ratio: 1/1;
  display: block;
  object-fit: contain;
}

@media only screen and (max-width: 640px) {
  .imgInfo > img {
    display: none;
  }
}
