footer {
  height: 200px;
  margin-top: 0px;
  /* background-image: url("../../../img/banner/bannerLowQuality.jpg"); */
  /* filter: blur(10px); */
  /* back */
  color: white;
  position: relative;
  overflow: hidden;
}

#footer-content {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  height: 100%;
  z-index: 10;
}

#footer-content * {
  z-index: 1;
}

#footer-icons {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#footer-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  object-fit: cover;
  object-position: 0px 80%;
  filter: blur(15px) brightness(30%);
  transform: scale(1.5);
}

/* 
#footer-icons > svg {
  color: white;
} */

#footer-links {
  display: flex;
  align-content: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

#footer-links > a {
  font-size: 2em;
  /* color: hsl(var(--popover-foreground)); */
  color: inherit;
}
#footer-links > a:hover {
  /* font-size: calc(4vw + 10px); */
  color: hsl(var(--primary));
}

#footer-contact-info {
  position: relative;
}
#footer-contact-info * {
  position: absolute;
  bottom: 0;
  left: 0;
}

#github-icon-footer {
  align-self: center;
  aspect-ratio: 1/1;
  padding-top: 1px;
  color: white;
}

#github-icon-footer:hover {
  color: hsl(var(--primary));
}
