.locked {
  position: fixed !important;
  animation-name: fadeInUp;
  animation-duration: 1s;
  box-shadow: 2px 2px 20px 3px var(--foreground);
}

@keyframes fadeInUp {
  from {
    top: -50px;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

nav {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding: 0 5px 0 5px;
  background: hsl(var(--popover));
  z-index: 20;
  height: 50px;
  /* height: 5vh; */
  width: 100%;
  box-sizing: border-box;
}

.nav-headers-menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  box-sizing: border-box;
}

.nav-headers-menu > li > a {
  width: -moz-fit-content;
  width: fit-content;
}

.nav-headers-top {
  display: flex;
  flex-direction: row;

  opacity: 1;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  transition: ease opacity 400ms, ease width 1000ms;
}

.nav-headers-top > li {
  margin-left: 30px;
  align-self: center;
  justify-self: center;
}

.nav-headers > li > a {
  font-family: var(--subtitle-font-family);
  font-size: 1.5em;
  color: hsl(var(--accent-foreground));
  overflow: hidden;
  white-space: nowrap;
  text-decoration: none;
  display: block;
  position: relative;
  padding: 0.4em 0;
  text-decoration: none;
}

.nav-headers-menu > li > a {
  color: hsl(var(--primary-foreground));
}

.active-nav-header {
  font-weight: bold;
  color: hsl(var(--primary-foreground));
}

.nav-headers > li > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: hsl(var(--primary));
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.nav-headers > li > a:hover::after,
.nav-headers > li > a:focus::after {
  opacity: 1;
  transform: translate3d(0, -0.2em, 0);
}
.icon {
  color: hsl(var(--popover-foreground));
  cursor: pointer;
  transition: ease-in-out color 200ms;
}

.icon:hover {
  /* --test: 0, 100%, 50%; */
  color: hsl(var(--primary));
  /* color: hsl(0, 100%, 50%, 0.5); */
}

#github-icon {
  align-self: end;
  justify-self: right;
  align-self: center;
  /* margin-left: 30px; */
  aspect-ratio: 1/1;
  padding-top: 1px;
  outline-color: rgba(0, 0, 0, 0);
}

#menu-button {
  display: flex;

  flex-direction: column;
  align-content: center;

  align-self: center;

  opacity: 0;
  width: 0px;
  transition: ease all 500ms;

  margin-right: auto;

  border: none;
  background-color: transparent;
}

#menu-exit-button {
  border: none;
  background-color: transparent;
}

#menu-exit-icon {
  opacity: 0;
  transition: opacity 1000ms, color 1000ms;
  transition-delay: 0ms;
}
.menu.menu-visible #menu-exit-icon {
  opacity: 1;
  color: hsl(var(--primary-foreground));
  transition-delay: 700ms;
}

.menu {
  display: grid;

  grid-template-rows: 50px 1fr;
  background: linear-gradient(
    270deg,
    hsl(var(--primary)),
    hsl(var(--primary-dark))
  );
  position: fixed;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 100vh;
  z-index: 10;
  overflow-x: hidden;

  transition: width 500ms, opacity 500ms;
}

.menu > div {
  width: 100vw;
}

.menu-visible {
  transition: width 1000ms, opacity 100ms;
  width: 100%;
  opacity: 1;
  /* transition: width 100ms, opacity 1000ms; */
}

@media only screen and (max-width: 640px) {
  #menu-button {
    width: unset;
    opacity: 1;
  }

  .nav-headers-top {
    width: 0;
    opacity: 0;
  }
}
